.autor{
	margin-top: 30px;
	border: 1px solid #D9DEE1;
	padding: 5px;
}
.abt{
	margin-top: 35px;
	p{
		font-size: 13px;
	}
	h2{
		margin-top: -5px;
	}
}
.abts{
	p{
	color: #D1A495;
	border-left: 8px solid #E8653E;
	padding-left: 10px;
	font-size: 13px;
	}
	h2{
		margin-top: -40px;
	}
}
.bts{
	h2{
		margin-top: 35px;
	}

}