.mapa{
	margin-top: 30px;
	width: 100%;
}

.jetro{
	h2{
		margin-top: 30px;
	}
	img{
		border: 1px solid $text-naranja;
	}
}
.cntct{
	margin-top: 30px;
	#best{
		color: $naranjo;
		margin-top: -50px;
	}
	#av{
		margin-top: -40px;
		margin-bottom: -30px;
	}
	li{
		color: $text-gris;
		padding-top: -20px;
	}
}
.forms{
	margin-top: 30px;
	input{
		border: 2px solid $text-naranja;
		margin-bottom: 20px;
		padding: 10px 10px 10px 10px;
		border-radius: 5px;
		color: $text-naranja;
	}
	.msj{
		border: 2px solid $text-naranja;
		padding: 10px 300px 200px 10px;
		border-radius: 5px;
		color: $text-naranja;
	}
}
.boton{
		button{
			background-color: $text-naranja;
			border: 1px solid $text-naranja;
			padding: 0 210px 0 210px;
			margin-left: -15px;
			margin-top: 20px;
			border-radius: 5px;
		}
	}
