$naranjo-color: #E75F3B;
$naranjocl-color: #F2AD9B;
$gris-color: #CCCCCC;
$blanco-color: #FEFEFE;
$bg-na: #E8663C;
$text-naranja: #E96A48;
$text-gris: #5E5E5E;
$pad: 5px 10px;
$naranjo: #E7663C;
$grey-color: #A0A0A0;